<h3 data-ng-show="vm.sessionVTID">List of attendee(s) for session {{vm.sessionVTID}}</h3>
<h3 data-ng-hide="vm.sessionVTID">List of person(s) </h3>

<div>
    <form>
        <button data-ng-show="vm.session._id" class="btn btn btn-success" data-ng-click="vm.addAttendee(vm.session._id)">+</button>
        <button class="btn btn btn-primary" data-ng-click="vm.newAttendee()">New person</button>
    </form>
    <br/>

    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Company</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="attendee in vm.attendees" data-ng-click="vm.select(attendee)" class="repeated-item">
            <td>{{$index + 1}}</td>
            <td>{{attendee.company}}</td>
            <td>{{attendee.firstName}}</td>
            <td>{{attendee.lastName}}</td>
            <td><a href="mailto:{{attendee.email}}">{{attendee.email}}</a></td>
        </tr>
        </tbody>
    </table>

    <form>
        <button type="button" class="btn btn btn-success" data-ng-click="vm.getSessions()">Back to Sessions</button>
    </form>
</div>