<div class="footer well">
        <div data-ng-controller="FooterCtrl as vm">
            <div class="pull-left">
                <span data-ng-show="vm.actualLocation">{{vm.actualLocation}}</span>
            </div>
            <span class="pull-right">©&nbsp;<a href="https://github.com/vincedgy/MyApp">VinceDgy MyApp</a></span>
        </div>
</div>