<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>MyApp</title>
<style>
    /* This helps the ng-show/ng-hide animations start at the right place. */
    /* Since Angular has this but needs to load, this gives us the class early. */
    .ng-hide {
        display: none!important;
    }
</style>
<!--<link rel="shortcut icon" href="/img/favicon.ico"/>-->

<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<!-- Custom BootStrap Theme -->
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/components/bower-bootstrap-css/bootstrap-responsive.min.css" media="screen"/>

<!-- local style cheet -->
<link rel='stylesheet' href='styles/style.css'/>