<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <% include head.ejs %>
</head>
<body data-ng-controller="MainCtrl as vm">
<span id="patience">Application is loading...</span>
<div class="container-fluid ng-hide" id="pageContainer">
    <header>
        <% include header.ejs %>
    </header>

    <div id="wrapper">
        <% include sidebar.ejs %>

        <div id="page-content-wrapper" data-spy="scroll" data-target="#spy">
            <% include sectionMain.ejs %>
        </div>

    </div>
</div>
<footer>
    <% include footer.ejs %>
</footer>

</body>
<% include includes.ejs %>
<% include scripts.ejs %>
</html>