<!--<div class="container-fluid">-->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="nav sidebar-nav">

                <li class="sidebar-brand">
                    <a href="#home"><i class="fa fa-home solo fa-lg"></i>&nbsp; Home</a>
                </li>

                <li>
                    <a href="#session" data-scroll>
                        <i class="fa fa-book solo fa-lg"></i>&nbsp; Sessions
                            &nbsp; <span class="badge badge-info navbar-right">{{nbSessions}}</span>
                    </a>
                </li>

                <li>
                    <a href="#attendee" data-scroll>
                        <i class="fa fa-group solo fa-lg"></i>&nbsp; People
                        &nbsp; <span class="badge badge-info navbar-right">{{nbAttendees}}</span>
                    </a>
                </li>

                <li>
                    <a href="#about" data-scroll>
                        <i class="fa fa-question-circle solo fa-lg"></i>&nbsp; About
                    </a>
                </li>
                <li>
                    <a href="#contact" data-scroll>
                        <i class="glyphicon glyphicon-phone-alt solo glyphicon-lg"></i>&nbsp; Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<!--</div>-->
