#wrapper {
  padding-left: 220px;
  transition: all 0.4s ease 0s;
  max-height: 800px;
  padding-bottom: 60px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-style: panner;
}
#sidebar-wrapper {
  margin-top: 60px;
  margin-left: -220px;
  left: 220px;
  width: 220px;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #2e3e66, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e3e66), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #2e3e66, #f0f0f0);
  background-image: -o-linear-gradient(top, #2e3e66, #f0f0f0);
  background-image: linear-gradient(to bottom, #2e3e66, #f0f0f0);
  background-repeat: repeat-y;
  border: 2px solid #f0f0f0;
  position: fixed;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: all 0.4s ease 0s;
}
#wrapper.active {
  padding-left: 0;
}
#wrapper.active #sidebar-wrapper {
  left: 0;
}
#page-content-wrapper {
  position: relative;
  padding-right: 20px;
  top: 60px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 20px;
  text-indent: 10px;
}
.sidebar-nav li a {
  color: #f0f0f0;
  display: block;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #25c7f6;
  text-align: center;
  width: 20px;
  line-height: 18px;
}
.sidebar-nav li a:hover,
.sidebar-nav li.active {
  background: #2e3e66;
  color: #25c7f6;
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background: #2e3e66;
}
.sidebar-nav > .sidebar-brand {
  line-height: 40px;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
  color: #25c7f6;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #f0f0f0;
  background: #2e3e66;
}
#menu-toggle {
  text-decoration: none;
}
.inset {
  padding: 0px;
}
/* If short screen */
@media (max-width: 980px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 220px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 220px;
    width: 220px;
    transition: all 0.4s ease 0s;
  }
  #menu-toggle {
    display: inline-block;
  }
  #helper {
    display: none;
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
  }
  .inset {
    padding: 15px;
  }
}
@media (max-height: 736px) {
  .footer {
    display: none;
  }
}
